@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

:root {
  --light-color: #bff1ce;
  --medium-color: #82bda7;
  --dark-color: black;
  --button-color: #C7B2F4;
  --white-color: white;
  --black-color: black;
}

* {
    box-sizing: border-box;
}

body {
  background: linear-gradient(var(--white-color), var(--medium-color) 80%);
  font-family: 'Roboto Slab', serif;
}